.quotes-paper {
  width: 330px;
  margin: 10px auto;

  input {
    width: 235px;
  }
}

@media (max-width: 468px) {
  .quotes-paper {
    width: 85%;
    padding: 2px 0;

    input {
      width: 60vw;
    }
  }
}

@media (max-width: 350px) {
  .quotes-paper {
    input {
      width: 48vw;
    }
  }
}
