$default-width: 769px;
$default-mobile-width: 768px;

.person {
  @media screen and (max-width: $default-mobile-width) {
    width: 80%;
  }

  width: 75%;
  min-height: 66.7vh;
  margin: 100px auto 30px;

  .person-header {
    border-bottom: 1px solid dimgrey;
    @media screen and (max-width: $default-mobile-width) {
      margin-bottom: 5px;
      text-align: center;
      span {
        font-size: 17px;
      }
    }

    span {
      font-weight: bold;
      font-family: Verdana, sans-serif;
    }
  }

  .person-body {
    @media screen and (min-width: $default-width) {
      display: flex;
      .left-part {
        width: 21.3%;

        .section {
          p {
            font-size: 13px;
          }

          span {
            font-size: 13.5px;
          }
        }
      }
    }
    @media screen and (max-width: $default-mobile-width) {
      display: block;
      .left-part .section {
        p {
          font-size: 15px;
        }

        span {
          font-size: 15.5px;
        }

      }
    }

    .left-part {
      img {
        width: 95%;
        margin: 5px 0 0 7px;
      }

      .section {
        margin: 20px 0 0 7px;
        padding-right: 10px;
        display: flex;
        flex-direction: column;

        a {
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

        p {
          margin: 0;
          padding: 0;
          text-align: left;

          a {
            text-decoration: none;
          }

          a:hover {
            text-decoration: underline;
          }
        }

        span {
          margin-top: 5px;

          p {
            margin: 7px 5px 0 0;
            padding: 0;
            font-size: 13px;
            text-align: left;

            a {
              text-decoration: none;
            }

            a:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }

    .right-part {
      @media screen and (min-width: $default-width) {
        width: 78.7%;
        border-left: 1px solid darkgray;

        .person-section {
          margin: 40px 0 0 8px;

          .person-voice-container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
          }

          .person-staff-container {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .person-staff-anime {
              width: 49%;
              display: flex;

              img {
                width: 40px;
                height: 60px;
              }

              div {
                span {
                  font-size: 11.5px;
                }

                a {
                  font-size: 13.5px;
                }
              }
            }
          }
        }
      }

      @media screen and (max-width: $default-mobile-width) {
        .person-section {
          margin: 30px 8px 0 7px;

          h4 {
            font-size: 17px;
            text-align: center;
          }

          .person-voice-container {
            .person-anime {
              width: 99%;
              display: block;

              .left-section {
                width: 99%;

                a {
                  font-size: 15px;
                }
              }

              .right-section {
                width: 99%;

                display: flex;
                justify-content: flex-end;
                background-color: rgba(162, 159, 149, 0.17);

                a {
                  font-size: 15px;
                }

                span {
                  font-size: 13px;
                }
              }

              img {
                width: 50px;
                height: 70px;
              }
            }
          }

          .person-staff-container {
            .person-staff-anime {
              width: 99%;
              display: flex;

              img {
                width: 50px;
                height: 70px;
              }

              div {
                span {
                  font-size: 12px;
                  margin-bottom: 5px;
                }

                a {
                  font-size: 15px;
                }
              }
            }
          }
        }
      }

      .person-section {
        h4 {
          margin: 0;
          padding-bottom: 3px;
          border-bottom: 1px solid dimgray;
        }

        .person-staff-container {
          .person-staff-anime {
            margin-top: 10px;
            border-bottom: 1px solid dimgray;
            background-color: rgba(243, 243, 210, 0.70);

            img {
              margin: 5px 0 0 5px;
              object-fit: cover;
            }

            div {
              margin: 4px 0 0 2px;
              padding: 5px;
              display: flex;
              flex-direction: column;

              a {
                text-decoration: none;
              }

              a:hover {
                text-decoration: underline;
              }
            }
          }

          .person-staff-anime:nth-child(2n) {
            background-color: rgba(225, 207, 136, 0.6);
          }
        }
      }
    }
  }
}

