$default-width: 769px;
$default-mobile-width: 768px;

.home-recs {
  @media screen and (min-width: $default-width) {
    h4 {
      font-size: 15px;
    }
  }
  @media screen and (max-width: $default-mobile-width) {
    width: 97%;
    margin: 20px auto 0;
    h4 {
      width: 50%;
      font-size: 14px;
    }
  }

  width: 92%;
  margin: 30px auto 0;

  .home-recs-header {
    margin: 0 10px;
    border-bottom: 1px solid gray;

    display: flex;
    justify-content: space-between;
    align-items: center;

    h4 {
      margin: 0;
      background: none;
      border-top: none;
    }

    span {
      @media screen and (max-width: $default-mobile-width) {
        a {
          font-size: 17px;
        }
      }

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }
}
