$default-width: 769px;
$default-mobile-width: 768px;

.anime-review {
  margin-left: 8px;

  .anime-review-container:nth-last-child(1) {
    border-bottom: none;
  }

  .anime-review-container {
    margin-top: 15px;
    border-bottom: 1px solid darkgrey;

    .review-body {
      @media screen and (min-width: $default-width) {
        display: flex;
        .review-user {
          a, span {
            font-size: 14.5px;
          }

          .review-text {
            span p {
              font-size: 13px;
            }
          }
        }
        .review-tags span {
          svg {
            font-size: 19px;
          }

          i {
            font-size: 13.5px;
          }
        }
      }
      @media screen and (max-width: $default-mobile-width) {
        a img {
          display: none;
        }
        .review-user {
          a, span {
            font-size: 15.5px;
          }
        }
        .review-text {
          span p {
            font-size: 14.5px;
          }
        }
        .review-tags span {
          svg {
            font-size: 21px;
          }

          i {
            font-size: 14px;
          }
        }
      }

      a {
        img {
          width: 50px;
        }
      }

      .review-user {
        margin: 5px 0 0 8px;
        display: flex;
        justify-content: space-between;

        a {
          text-decoration: none;
          font-weight: bold;
        }

        a:hover {
          text-decoration: underline;
        }
      }

      .review-tags {
        margin-top: 5px;

        span {
          display: flex;
          align-items: flex-end;

          i {
            padding-left: 2px;
            font-style: normal;
          }
        }
      }
    }
  }

  .review-foot {
    display: flex;
    justify-content: space-between;

    @media screen and (min-width: $default-width) {
      width: 40%;
      margin-left: 35px;
      span a svg {
        font-size: 16px;
      }
    }

    @media screen and (max-width: $default-mobile-width) {
      .read-more {
        display: none;
      }
      span {
        svg {
          font-size: 17px;
        }

        a {
          font-size: 18px;
        }
      }
      span a svg {
        font-size: 19px;
      }
    }

    div {
      span {
        cursor: pointer;
      }
    }

    span {
      display: flex;
      align-items: center;

      a {
        display: flex;
        align-items: center;

        i {
          font-style: normal;
        }
      }
    }
  }

  .review-more {
    @media screen and (min-width: $default-width) {
      margin: 5px 0;
      span {
        i {
          font-size: 16px;
        }

        svg {
          font-size: 20px;
        }
      }
    }
    @media screen and (max-width: $default-mobile-width) {
      margin: 10px 0;
      justify-content: center;
      span {
        i {
          font-size: 18px;
        }

        svg {
          font-size: 25px;
        }
      }
    }

    padding: 5px;
    display: flex;
    justify-content: flex-end;

    span {
      cursor: pointer;
      display: flex;
      align-items: flex-end;

      i {
        font-style: normal;
      }
    }
  }
}
