$default-width: 769px;
$default-mobile-width: 768px;

p {
  @media screen and (max-width: $default-mobile-width) {
    font-size: 22px;
  }

  margin: 5px 0 0;
  text-align: center;
  font-size: 19px;

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
}

.home {
  width: 75%;
  margin: 100px auto 30px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-bottom: 1px solid gray;

  .home-header {
    background-color: #e2ddf3;
    border-top: 1px solid #7d7373;
    border-bottom: 1px solid #7d7373;

    display: flex;
    align-items: center;
    justify-content: space-between;

    h4 {
      font-weight: 400;
    }

    input {
      max-width: 130px;
      padding: 4px 30px 4px 4px;
      margin-right: 20px;
      border-radius: 5px;
      border: 2px solid #a09e9e;
    }

    svg {
      cursor: pointer;
      font-size: 1.4rem;

      position: absolute;
      top: 1px;
      right: 25px;
    }
  }

  .hr {
    min-height: 245px;
    border: 1px solid #aeaaaa;
    border-radius: 10px;
  }

  .quote-section {
    @media screen and (max-width: $default-mobile-width) {
      display: none;
    }
    height: 60px;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    .quote-slider {
      width: 100%;
      height: 100%;

      .quote-error {
        width: 100%;
        height: 100%;
        animation: slide-infinite 25s linear infinite;

        display: flex;
        justify-content: center;
        align-items: center;

      }

      .quote-error:hover {
        animation-play-state: paused;
      }

      .quote {
        width: 100%;
        height: 100%;
        text-decoration: none;
        white-space: nowrap;
        animation: slide-infinite 20s linear infinite;

        display: flex;
        align-items: flex-end;
        justify-content: center;

        cite {
          margin-bottom: 20px;
        }

        span {
          margin: 0 0 5px 5px;
          font-family: "Cambria Math", sans-serif;
        }
      }

      .quote:hover {
        animation-play-state: paused;
        cursor: pointer;
      }

      @keyframes slide-infinite {
        from {
          transform: translateX(110%);
        }
        to {
          transform: translateX(-100%);
        }
      }
    }
  }

  @media screen and (min-width: $default-width) {
    .home-header {
      h4 {
        margin: 7px 5px 7px 25px;
        font-size: 18px;
      }
    }
    .image-info-section {
      display: flex;

      .left-side {
        width: 44.6%;

        p {
          margin: 0 26px;
          padding-left: 30px;
          font-size: 14px;
          text-align: left;
        }
      }

      .right-side {
        width: 55%;

        p a {
          font-size: 19px;
        }

        img {
          width: 180px;
          height: 100px;
        }
      }

    }
  }
  @media screen and (max-width: $default-mobile-width) {
    width: 78%;
    .home-header {
      h4 {
        margin: 10px auto;
        font-size: 19px;
      }

      input {
        display: none;
      }
    }
    .hr {
      width: 90%;
      min-height: 0;
    }
    .image-info-section {
      display: block;

      .left-side {
        width: 100%;

        p {
          margin: 0;
          padding: 10px;
          font-size: 16px;
          text-align: center;
        }
      }

      .right-side {
        width: 100%;

        p a {
          font-size: 22px;
        }

        img {
          width: 33vw;
          height: 80px;
        }
      }
    }
  }

  .image-info-section {
    justify-content: space-between;
    align-items: center;

    .left-side {
      .fade-in {
        opacity: 0;
        transform: translateX(-50px);
        animation: fadeIn 1s ease-in-out forwards;
      }

      @keyframes fadeIn {
        0% {
          opacity: 0;
          transform: translateX(-50px);
        }
        100% {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    .right-side {
      margin: 7.5px;

      p {
        font-size: 16px;
        margin-top: 15px;
      }

      .image-masonry-grid {
        width: 93%;
        display: flex;

        .image-masonry-grid_column {
          display: flex;
          justify-content: center;
          flex-wrap: wrap;

          img {
            margin: 3px 5px;
            border-radius: 5px;
            cursor: pointer;
            border: 1px solid #52bab7;
            object-fit: cover;
            transition: 0.4s;
          }

          img:hover {
            box-shadow: 0 0 7px rgba(0, 0, 0, .6);
            scale: 1.1;
          }
        }
      }
    }
  }

  .body-section {
    @media screen and (min-width: $default-width) {
      .hr {
        min-height: 450px;
      }
      .news-part {
        width: 42%;
        max-height: 472px;
        margin-left: 35px;

        .news {
          span {
            font-size: 12px;
          }

          img {
            width: 20%;
          }
        }
      }
      .anime-airing-part-full {
        margin-left: 35px;

        .top-airing {
          width: 130px;
        }
      }
      .anime-airing-part {
        width: 60%;
        margin-left: 0;
      }
      .anime-most-part {
        width: 55%;
        margin-left: 0;
      }
    }

    @media screen and (max-width: $default-mobile-width) {
      .hr {
        width: 94.5%;
        margin-left: 14px;
      }
      flex-direction: column;
      align-items: center;

      .news-part {
        width: 77vw;
        max-height: 452px;
        margin-left: 8px;

        .news {
          span {
            font-size: 11px;
          }

          img {
            width: 25%;
          }
        }
      }
      .anime-airing-part, .anime-airing-part-full {
        width: 100%;
        margin-left: 10px;
      }
      .anime-most-part {
        width: 100%;
        margin-left: 10px;
      }
    }

    width: 95.3%;
    margin-top: 15px;
    display: flex;

    .anime-airing-part {
      min-height: 472px;
    }

    .anime-airing-full-part {
      width: 90%;
      margin-left: 65px;
      min-height: 472px;
    }

    .anime-most-part {
      min-height: 470px;
    }

    .anime-most-full-part {
      width: 100%;
      margin-left: 40px;
      min-height: 470px;
    }

    .news-part {
      .news {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

        .news-child:hover {
          box-shadow: 0 0 7px rgba(0, 0, 0, .6);
        }

        .news-child:hover img {
          scale: 0.93;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }

        .news-child {
          width: 90%;
          height: 73px;
          margin: 5px 10px 5px 10px;

          background-color: #dedecb;
          text-decoration: none;
          border-radius: 5px;
          border: 1px solid #9ba7b2;
          display: flex;

          img {
            transition: 0.4s;
            object-fit: cover;
            font-size: 14px;
            border-top-left-radius: 5px;
            border-bottom-left-radius: 5px;
          }

          div {
            width: 100%;
            padding: 2px 3px 0 5px;
            border-left: 1px solid gray;
            position: relative;

            span:nth-child(2) {
              font-size: 10px;

              position: absolute;
              right: 5px;
              bottom: 5px;

              display: flex;
              align-items: flex-end;

              img {
                width: 14px;
                margin: 0 3px 1px 0;
              }
            }

          }
        }
      }
    }

    .quotes-part {
      @media screen and (min-width: $default-width) {
        width: 44%;
        margin-left: 35px;
      }
      @media screen and (max-width: $default-mobile-width) {
        margin-left: 10px;
        width: 76vw;
      }

      min-height: 480px;

      div {
        width: 91%;
        min-height: 94.3px;
        transition: 0.2s;
        margin: 5px auto 10px;
        border: 1px solid #9ba7b2;
        border-radius: 5px;
        background-color: lightgoldenrodyellow;

        p {
          padding: 3px 10px 0 10px;
          font-size: 13px;

          q {
            font-style: italic;

            b {
              font-weight: 400;
            }
          }
        }

        span {
          margin: 0 0 0 3px;
          font-size: 11px;
        }

        p:nth-child(3) {
          padding: 5px 5px 3px 0;
          text-align: right;
          font-size: 12px;
        }
      }

      div:hover {
        box-shadow: 0 0 7px rgba(0, 0, 0, .6);
        scale: 1.05;
      }
    }
  }
}
