$default-width: 769px;
$default-mobile-width: 768px;

.staff {
  @media screen and (max-width: $default-width) {
    width: 80%;
    h4 {
      font-size: 18px;
      text-align: center;
    }
  }

  width: 75%;
  margin: 100px auto 30px;

  .staff-header {
    h4 {
      margin: 0;
      padding: 0;
      border-bottom: 1px solid dimgray;

      a {
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }
    }
  }

  .staff-body {
    @media screen and (min-width: $default-width) {
      display: flex;
    }

    .staff-right {
      @media screen and (min-width: $default-width) {
        width: 78.7%;
        border-left: 1px solid gray;
        h4 {
          font-size: 15px;
        }
      }
      @media screen and (max-width: $default-mobile-width) {
        width: 96.5%;
        h4 {
          font-size: 17px;
        }
      }

      h4 {
        margin: 20px 0 5px 8px;
        border-bottom: 1px solid dimgray;
      }

      .staff-section {
        width: 100%;

        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        a {
          text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }

        .character-children:nth-child(2n) {
          background-color: rgba(255, 255, 182, 0.9);
        }

        .character-children {
          @media screen and (min-width: $default-width) {
            display: flex;
            justify-content: space-between;
          }
          @media screen and (max-width: $default-mobile-width) {
            width: 100%;
            margin-top: 20px;

            display: flex;
            flex-direction: column;
          }
          width: 47%;
          margin: 15px 0 0 8px;

          border: 1px solid gray;
          background-color: rgba(255, 248, 132, 0.9);

          hr {
            height: 99.5%;
            margin: 0;
            border: 1px solid rgba(169, 169, 169, 0.6);
          }

          .chr {
            @media screen and (min-width: $default-width) {
              width: 50%;
              img {
                width: 50px;
                object-fit: cover;
              }
              span {
                font-size: 13.5px;

                a {
                  font-size: 15px;
                }
              }
            }
            @media screen and (max-width: $default-mobile-width) {
              padding: 15px 0;
              background-color: rgba(129, 204, 236, 0.2);
              img {
                width: 65px;
                object-fit: cover;
              }
              span {
                font-size: 14.5px;

                a {
                  font-size: 16px;
                }
              }
            }
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            div {
              margin: 5px 0 0 5px;

              display: flex;
              align-items: center;
              flex-direction: column;
            }
          }

          .actors-container {
            @media screen and (min-width: $default-width) {
              width: 50%;
              img {
                width: 40px;
              }
              span {
                font-size: 13px;

                a {
                  font-size: 14.5px;
                }
              }
            }
            @media screen and (max-width: $default-mobile-width) {
              width: 100%;
              img {
                width: 45px;
              }
              span {
                font-size: 14px;

                a {
                  font-size: 15.5px;
                }
              }
            }

            img {
              object-fit: cover;
            }

            .actor-children:nth-last-child(1) {
              border: none;
            }

            .actor-children {
              padding: 5px;
              border-bottom: 1px solid gray;
              display: flex;
            }
          }
        }

        .staff-children:nth-child(2n) {
          background-color: rgba(255, 248, 132, 0.9);
        }

        .staff-children {
          @media screen and (min-width: $default-width) {
            img {
              width: 40px;
            }
            i {
              font-size: 13px;
            }
            span a {
              font-size: 14.5px;
            }
          }
          @media screen and (max-width: $default-mobile-width) {
            width: 100%;
            img {
              width: 45px;
            }
            i {
              font-size: 14px;
            }
            span a {
              font-size: 15.5px;
            }
          }
          width: 46%;
          padding: 5px;
          margin: 10px 0 0 8px;

          border: 1px solid gray;
          background-color: rgba(255, 255, 182, 0.9);
          display: flex;

          i {
            font-style: normal;
          }

          img {
            height: 100%;
            object-fit: cover;
          }

          .staff-info {
            margin: 5px 0 0 5px;
          }
        }
      }
    }
  }

}
