.search {
  min-height: 69.4vh;
  margin: 100px auto 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  .animes-loader {
    height: 70vh;
  }

  .animes-container {
    width: 75%;
    margin: 50px auto 20px;
  }

  .not-found {
    @media screen and (min-width: 769px) {
      height: 62.5vh;
      .not {
        width: 27vw;

        div h2 {
          font-size: 22px;
        }
      }
    }

    @media screen and (max-width: 768px) {
      min-height: 62vh;
      .not {
        width: 60vw;

        div h2 {
          font-size: 20px;
          text-align: center;
        }
      }
    }
    @media screen and (max-width: 300px) {
      .not {
        div h2 {
          font-size: 17px;
        }

        font-size: 14px;
      }
    }

    display: flex;
    justify-content: center;
    align-items: center;

    .not {
      padding: 10px;

      background-color: #f1eded;
      border: 2px solid darkgray;
      border-radius: 20px;

      hr {
        border: 1px solid #aba1a1;
      }

      .inf {
        width: 100%;
        text-align: center;

        span {
          font-weight: 300;
        }
      }

      div:nth-child(1) {
        display: flex;

        h2 {
          width: 100%;

          display: flex;
          justify-content: center;
          align-self: center;

          b {
            font-weight: 300;
          }
        }

        img {
          width: 30%;
          padding: 10px;
          border-radius: 15px;
        }
      }
    }
  }
}
