$default-width: 769px;
$default-mobile-width: 768px;
$small-mobile-width: 300px;

.anime-recs {
  border-bottom: 1px solid #9b9494;
  margin-bottom: 10px;

  @media screen and (min-width: $default-width) {
    .recs-container {
      margin-bottom: 5px;
      display: flex;

      .recs-child {
        width: 50%;
        overflow: hidden;

        a {
          font-size: 14px;
        }

        img {
          width: 50px;
          transition: 0.4s;
        }

        img:hover {
          scale: 1.1;
        }

        .recs-left-side, .recs-right-side {
          margin-left: 8px;
        }
      }
    }
  }

  @media screen and (max-width: $default-mobile-width) {
    .recs-container {
      margin-bottom: 10px;

      .recs-child:nth-child(2) {
        border-top: 1px solid #929191;
        background-color: rgba(147, 154, 171, 0.32);

        display: flex;
        justify-content: flex-end;
      }

      .recs-child {
        padding: 3px 0 5px 3px;
        background-color: rgba(118, 128, 128, 0.32);

        a {
          padding: 0;
          font-size: 14.5px;
        }

        small {
          font-size: 13px;
        }

        img {
          width: 45px;
          height: 65px;
        }

        svg {
          display: none;
        }

        .recs-left-side, .recs-right-side {
          width: 41%;
          margin-left: 4px;
          margin-right: 4px;
        }
      }
    }
  }
  @media screen and (max-width: $small-mobile-width) {
    .recs-child {
      small {
        display: none;
      }
    }
  }

  .recs-container {
    .recs-child {
      display: flex;

      a {
        font-family: Cambria, sans-serif;
        font-weight: bold;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      img {
        object-fit: cover;
      }

      small {
        font-family: Cambria, sans-serif;
      }

      .recs-left-side {
        display: flex;
        flex-direction: column;
      }

      .recs-right-side {
        display: flex;
        flex-direction: column;
      }
    }
  }

  @media screen and (min-width: $default-width) {
    .recs-footer {
      margin-bottom: 10px;

      span {
        font-size: 13px;

        a {
          font-size: 13px;
        }
      }
    }
  }

  @media screen and (max-width: $default-mobile-width) {
    .recs-footer {
      margin-bottom: 10px;

      span {
        font-size: 14px;
      }

      span:nth-child(2) {
        font-size: 13px;
      }
    }
  }
  @media screen and (max-width: $small-mobile-width) {
    .recs-footer {
      span {
        font-size: 11px;
      }

      span:nth-child(2) {
        font-size: 10px;

        a {
          font-size: 11px;
        }
      }
    }

  }

  .recs-footer {
    display: flex;
    flex-direction: column;

    span {
      font-family: sans-serif;
    }

    span:nth-child(1) {
      margin-bottom: 8px;
    }

    span:nth-child(2) {
      color: dimgray;
      display: flex;

      a {
        font-style: normal;
        text-decoration: none;
      }

      a:hover {
        text-decoration: underline;
      }

      i {
        color: gray;
      }
    }
  }
}

.anime-recs:nth-last-child(-n+1) {
  border-bottom: none;
}
