.navbar {
  width: 100%;
  height: 70px;

  display: flex;
  justify-content: start;
  align-items: center;

  background-color: #fff;
  position: fixed;
  z-index: 4;

  @media screen and (min-width: 769px) {
    h2 {
      font-size: 25px;
    }
  }

  h2 {
    width: 100%;
    padding-top: 2px;
    margin-right: 50px;
    text-align: center;

    .main-title {
      text-decoration: none;
    }

    .main-title:hover {
      color: #f1952d;
    }
  }
}

.menu-bars {
  margin-left: 1rem;
  z-index: 10;
  background: none;

  @media screen and (min-width: 769px) {
    svg {
      font-size: 30px;
    }
  }
  @media screen and (max-width: 768px) {
    svg {
      font-size: 30px;
    }
  }
}
