@media (min-width: 785px) {
  .search-form {
    .search-input {
      padding: 0.8rem;
      font-size: 1rem;
    }

    .search-icon {
      width: 60px;
    }
  }
}

@media (max-width: 784px) {
  .search-form {
    display: flex;

    .search-input {
      padding: 0.8rem 1.2rem;
      font-size: 1rem;
    }

    .search-icon {
      width: 70px;

      svg {
        //font-size: 20px;
      }
    }
  }
}

@media (max-width: 330px) {
  .search-form {
    .search-input {
      padding: 0.7rem 0.3rem;
      font-size: 0.8rem;
    }
  }
}

.search-form {
  display: flex;
  justify-content: center;
  align-self: center;

  .input-container {
    border: 1px solid darkgray;
    border-radius: 0.25rem;
    display: flex;

    .search-input {
      width: 100%;
      border: 0;
      border-radius: 0.25rem 0 0 0.25rem;
    }

    .search-input:focus {
      outline: none;
    }

    .search-icon {

      border-radius: 0 0.25rem 0.25rem 0;
      border-left: 2px solid darkgray;
      background-color: #f3f1f1;
      cursor: pointer;

      display: grid;
      place-items: center;
    }

    .search-icon.active {
      background-color: #c9ceda;
    }

    .search-icon:hover {
      background-color: #dedecb;
    }
  }
}
