$default-width: 769px;
$default-mobile-width: 768px;
$small-mobile-width: 380px;

.sidebar-item {
  transition: 850ms;
}

.sidebar-item.open {
  background-color: #ffe56b;

  .sidebar-content {
    display: block;
  }

  .father {
    background-color: #f3d748;
  }
}

.sidebar-content {
  margin-left: 30px;
  display: none;

  .nav-text {
    padding: 5px 0;
  }

  @media screen and (max-height: 730px) {
    .nav-text {
      height: 32px !important;

      span {
        font-size: 18px;
      }
    }
  }
  @media screen and (max-height: 630px) {
    .nav-text span {
      font-size: 17px;
    }
  }

  @media screen and (min-width: $default-width) {
    .nav-text {
      height: 40px;
    }
    span {
      font-size: 16px;
    }
  }
  @media screen and (max-width: $default-mobile-width) {
    .nav-text {
      height: 50px;
    }
    span {
      font-size: 20px;
    }
  }
  @media screen and (max-width: $small-mobile-width) {
    .nav-text {
      height: 35px;
    }
  }
}

@media screen and (max-height: 730px) {
  .father {
    height: 47px !important;

    div {
      font-size: 20px !important;
    }
  }
}

@media screen and (max-height: 630px) {
  .father {
    height: 40px !important;

    div {
      font-size: 19px !important;
    }
  }
}

@media screen and (min-width: $default-width) {
  .father {
    height: 50px;

    div {
      padding: 0 30px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $default-mobile-width) {
  .father {
    height: 60px;

    div {
      padding: 0 50px;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: $small-mobile-width) {
  .father {
    height: 50px;
  }
}

.father {
  div {
    height: 100%;

    cursor: pointer;

    display: flex;
    align-items: center;
  }

  @media screen and (max-height: 730px) {
    .father-icon {
      font-size: 28px !important;
    }
  }
  @media screen and (min-width: $default-width) {
    .father-icon {
      font-size: 28px;
    }
  }
  @media screen and (max-width: $default-mobile-width) {
    .father-icon {
      font-size: 35px;
    }
  }

  .father-icon {
    position: absolute;
    right: 20px;
  }
}

.father:hover {
  background-color: #f4db4a;
}

@media screen and (max-height: 730px) {
  .nav-text {
    height: 47px !important;

    a {
      font-size: 20px !important;
    }
  }
}

@media screen and (max-height: 630px) {
  .nav-text {
    height: 40px !important;

    a {
      font-size: 19px !important;
    }
  }
}

@media screen and (min-width: $default-width) {
  .nav-text {
    height: 50px;
    padding: 8px 0;

    a {
      padding: 0 30px;
      font-size: 18px;
    }
  }
}

@media screen and (max-width: $default-mobile-width) {
  .nav-text {
    height: 60px;
    padding: 5px 0;

    a {
      padding: 0 50px;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: $small-mobile-width) {
  .nav-text {
    height: 40px;
  }
}

.nav-text {
  list-style: none;

  display: flex;
  justify-content: start;
  align-items: center;

  a {
    width: 95%;
    height: 100%;
    text-decoration: none;

    display: flex;
    align-items: center;
  }

  a:hover {
    background-color: #f4db4a;
  }
}

@media screen and (max-height: 730px) {
  .icons svg {
    font-size: 24px !important;
  }
}

@media screen and (max-height: 630px) {
  .icons svg {
    font-size: 23px !important;
  }
}

@media screen and (max-width: $default-mobile-width) {
  .icons {
    margin-bottom: 3px;

    svg {
      font-size: 28px;
    }
  }
}

.icons {
  padding: 0 15px 3px 0;
}
