@media (min-width: 785px) {
  .nav-menu {
    width: 200px;
  }
}

@media (max-width: 784px) {
  .nav-menu {
    width: 70vw;
  }
}

@media (max-width: 300px) {
  .nav-menu {
    width: 85vw;
  }
}

.nav-menu {
  min-height: 100vh;

  background-color: #fff;
  transition: 850ms;
  z-index: 2;

  display: flex;
  justify-content: center;

  position: fixed;
  top: 0;
  left: -100%;

  .nav-menu-items {
    width: 100%;
    padding: 0;
  }

  .navbar-toggle {
    height: 50px;
    margin-bottom: 15px;

    display: flex;
    justify-content: start;
    align-items: center;
  }

  @media (max-width: 784px) {
    .github {
      height: 60px;

      svg {
        font-size: 33px;
      }

      div {
        padding: 0 50px;
      }

      span {
        font-size: 23px;
      }
    }
  }
  @media (min-width: 785px) {
    .github {
      height: 50px;

      svg {
        font-size: 27px;
      }

      div {
        padding: 0 30px;
      }

      span {
        font-size: 18px;
      }
    }
  }

  .github {
    width: 100%;

    position: absolute;
    bottom: 0;

    text-decoration: none;
    display: flex;

    div {
      display: flex;
      align-items: center;
    }

    span {
      padding: 5px 0 0 12px;
      font-weight: bold;
    }
  }

  .github:hover {
    background-color: #f3d748;
  }
}

.nav-menu.active {
  left: 0;
  transition: 350ms;
  z-index: 2;
}
