.back-side {
  @media screen and (min-width: 431px) {
    .back-side-clickable {
      width: 195px;
      height: 185px;

      .back-side-header {
        width: 200px;

        img {
          width: 60px;
          height: 60px;
        }

        .header-info {
          margin-left: 20px;
          font-size: 14px;
          text-align: center;
        }
      }


      .names {
        left: 7px;
        font-size: 14px;
      }
    }
    .back-side-non-clickable {
      margin-top: 20px;

      .link {
        a {
          font-size: 16px;
        }
      }
    }
  }

  @media screen and (max-width: 430px) {
    width: 55vw;
    min-height: 46vh;
    .back-side-clickable {
      width: 55vw;
      height: 25vh;

      .back-side-header {
        img {
          width: 70px;
          height: 70px;
          margin-top: 11px;
        }

        .header-info {
          margin: 15px 0 0 20px;
          font-size: 15px;
        }
      }

      .names {
        width: 90%;
        left: 15px;
        font-size: 14.8px;
      }
    }
    .back-side-non-clickable {
      margin-top: 30px;

      span {
        font-size: 13.7px;
      }

      a {
        font-size: 19px;
      }

    }
  }
  @media screen and (max-width: 300px) {
    height: 45vh;
    .back-side-clickable {
      height: 19vh;

      .back-side-header {
        img {
          width: 50px;
          height: 50px;
          margin-top: 0;
        }

        .header-info {
          margin: 0 0 0 15px;
          font-size: 12px;
        }
      }

      .names {
        font-size: 12.5px;
      }
    }

    .back-side-non-clickable {
      font-size: 11px;

      span {
      }

      .link a {
        font-size: 17px;
      }

    }
    width: 180px;
  }
  height: 350px;
  width: 180px;
  padding: 13px;
  margin-bottom: 20px;

  background-color: #fff;
  border-radius: 8px;
  text-align: center;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;

  .back-side-clickable {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s;

    .back-side-header {
      height: 60px;
      display: flex;

      align-items: center;

      img {
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .names {
      position: absolute;
      top: 22%;
      text-align: left;
      display: flex;
      flex-direction: column;

      span {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  .back-side-clickable:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, .4);
    border-radius: 8px;
  }

  .back-side-non-clickable {
    height: 130px;
    padding: 6px 10px;

    background-color: rgba(243, 207, 0, 0.84);
    border-radius: 10px;
    text-align: justify;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .link {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        color: darkslategray;
        text-decoration: none;
      }

      a:hover {
        color: red;
      }
    }

  }
}
